body{
  article{border:0px;}
  .user-title-box{padding-right:10px;}
  .user-infomation-box{
    padding-left:10px;border-left:1px solid rgba(100,100,100,.5);
    .user-infomation{font-size:12px;}  
  }
  div.line{
    div.title{border-left:1px solid rgba(100,100,100,.5);padding-right:10px;}
    div.content{padding-left:10px;margin:10px;;}
  }
  ul.lang-list{
    li{
      border-bottom:0px;
      div.content{padding-left:10px;border-left:2px solid rgba(100,100,100,.25);width:calc(100% - 10px);overflow:hidden;}
    }
  }
  article.image-box{
    margin-top:5px;margin-bottom:5px;
    height:200px;min-height:200px;
    background:fixed;
    background-repeat:no-repeat;
    background-position:center;
    .h1{border-bottom:1px solid rgba(100,100,100,.5)}
    div.content{
      background:rgba(0,0,0,.65);width:100%;height:100%;display:flex;
      text-align:center;color:rgba(255,255,255,.9);
    }
  }

  //tab menu setting
  div.tab-menu{
    div.tab-box{
      min-height:100px;padding:10px;
      img{z-index:1;width:auto;max-width:100%;height:100px;}
    }
    div.tab-content{
      padding-top:20px;
      div.h2{font-weight:600;}
    }
  }
  //background ment
  div.bg-ment{
    z-index:0;position:absolute;width:100%;bottom:10px;
    font-size:3em;color:rgba(128,128,128,.2);font-weight: bold;text-align:left;padding-left:10%;
  }
  
  .component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
  }
  .component-fade-enter, .component-fade-leave-to
  /* .component-fade-leave-active for <2.1.8 */ {
    opacity: 0;
  }
}