@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
span.a-badge i.fa.fa-picture-o {
  color: #58bfff;
}

.btn-outline-danger {
  background: -webkit-linear-gradient(top left, #ff7979, #ff5151) !important;
}

#main-content div#article-content-wrapper {
  padding: 0px;
  border: 0px solid rgba(122, 222, 255, 0.8);
  background: #46494c;
  color: #eee;
  border-top: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#main-content div#article-content-wrapper div.header {
  background: #46494c;
  color: #999;
  border-top: 2px dashed #5a5d60;
}

#main-content div#article-content-wrapper div#article-content {
  padding: 20px 10px;
  border: none;
}

#main-content div#article-content-wrapper div.vote-area {
  border: none;
}

#main-content div#article-content-wrapper div.vote-area button {
  color: #f5f5f5;
  border: none;
  padding: 8px 15px;
  transition-duration: 0s !important;
}

#main-content div#article-content-wrapper div.vote-area button.btn-outline-success {
  background: -webkit-linear-gradient(top left, #ffa200, #ff7e00);
}

#main-content div#article-content-wrapper div.vote-area button.btn-outline-success:hover {
  background: #ff7e00 !important;
}

#main-content div#article-content-wrapper div.vote-area button.btn-outline-primary {
  background: -webkit-linear-gradient(top left, #79ccff, #3da1ff);
}

#main-content div#article-content-wrapper div.vote-area button.btn-outline-primary:hover {
  background: #3da1ff !important;
}

#main-content div#article-content-wrapper div.footer {
  background: #3c3f42;
  padding: 10px 15px;
  border-top: 2px dashed #5a5d60;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#article-list-menu > .btn {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px 15px;
}

#article-list-menu > .btn.best {
  background: -webkit-linear-gradient(top left, #ffa200, #ff7e00) !important;
  color: #fff;
}

#article-list-menu > .btn.write {
  background: -webkit-linear-gradient(top left, #79ccff, #3da1ff);
  color: #fff;
}

#article-list-menu .pagination > li > a,
.pagination-area .pagination > li > a {
  color: #eee;
  background: #505356;
  border-radius: 50%;
  margin-left: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

#article-list-menu .pagination > li > a:hover,
.pagination-area .pagination > li > a:hover {
  transition: 0.3s ease 0s;
  background: #5a5d60;
}

#article-list-menu .pagination > li.active > a,
.pagination-area .pagination > li.active > a {
  color: #fff;
  font-weight: bold;
  background: -webkit-linear-gradient(top left, #79ccff, #3da1ff);
}

#article-list-menu .pagination > li > a,
.pagination-area .pagination > li > a {
  color: #eee;
  background: #505356;
  border-radius: 50%;
  margin-left: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

#article-list-menu .pagination > li > a:hover,
.pagination-area .pagination > li > a:hover {
  transition: 0.3s ease 0s;
  background: #5a5d60;
}

#article-list-menu .pagination > li.active > a,
.pagination-area .pagination > li.active > a {
  color: #fff;
  font-weight: bold;
  background: -webkit-linear-gradient(top left, #79ccff, #3da1ff);
}

footer {
  background-color: #2f3234;
  color: #ccc;
}

footer a {
  transform: 0.2s ease 0s;
}

a {
  color: #58bfff;
}

a:hover {
  text-decoration: none;
  color: #79ccff;
}

form.input-group {
  margin-bottom: 10px;
}

form.input-group input[type="text"] {
  padding: 6px;
  height: 34px !important;
  border: none;
  border-left: 0px;
  border-right: 0px;
}

form.input-group .input-group-btn button {
  border: none;
}

form.input-group .input-group-btn button:hover {
  transition: 0.3s ease 0s;
}

form.input-group .input-group-btn button.btn.square.btn-default.dropdown-toggle {
  padding: 8px 15px 9px 10px;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

form.input-group .input-group-btn button.btn.square.btn-default {
  padding: 8px 15px 9px 10px;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

#comment-write-form-area {
  padding: 0px;
}

#comment-write-form-area .fr-box.fr-basic .fr-wrapper {
  background: #3c3f42;
}

#comment-write-form-area .fr-toolbar {
  background: #3c3f42;
  border-top: 5px solid #79ccff;
}

#comment-write-form-area .fr-separator {
  background: rgba(255, 255, 255, 0.1);
}

#comment-write-form-area .fr-toolbar .fr-command.fr-btn,
#comment-write-form-area .fr-popup .fr-command.fr-btn {
  color: #f5f5f5;
}

#comment-write-form-area .fr-box.fr-basic .fr-element {
  color: #fff;
}

html {
  background: #2f3234;
}

html body {
  letter-spacing: -0.05em !important;
  background: transparent;
  font-family: "Nanum Gothic", Arial, Helvetica, sans-serif;
  /* 모바일 */
}

html body a {
  color: #58bfff;
}

html body #header-top-notice {
  display: none;
}

html body div[align="center"] {
  background: none !important;
}

html body header {
  background: -webkit-linear-gradient(top, #14171a 0%, rgba(20, 23, 26, 0.8) 33%, rgba(20, 23, 26, 0) 90%);
  border: none;
}

html body header #header-area > #header-search-link {
  color: #58bfff;
}

html body header #header-area #header-bar-link {
  color: #58bfff;
}

html body header #header-area #header-search-btn {
  color: #58bfff;
}

html body header #header-area > a > h1 {
  background-size: 110px 38px;
  height: 40px;
}

html body header form.input-group input[type="text"] {
  padding: 6px;
  height: 32px !important;
  border: 1px solid #ccc;
  border-left: 0px;
  border-right: 0px;
}

html body header form.input-group .input-group-btn button {
  border: 1px solid #ccc;
}

html body header form.input-group .input-group-btn button:hover {
  transition: 0.3s ease 0s;
}

html body header form.input-group .input-group-btn button.btn.square.btn-default.dropdown-toggle {
  padding-left: 15px;
  padding-right: 10px;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

html body header form.input-group .input-group-btn button.btn.square.btn-default {
  padding-left: 10px;
  padding-right: 15px;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}

html body #board-info {
  border: none;
  border-bottom: 5px solid #79ccff;
  height: 80px;
  margin-bottom: 8px;
  background: -webkit-linear-gradient(top left, #32373c, #282d32);
}

html body #board-info h1 {
  text-align: center;
  padding: 10px 0px 10px 80px;
  width: calc(100%);
}

html body #board-info h1 img#board-info-profile-img {
  position: absolute;
  left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

html body #board-info h1 a {
  font-size: 1.4em;
  color: #79ccff;
}

html body #board-info h1 a.badge-live {
  font-size: 12px;
}

html body #board-info a.board-right-menu {
  background: #505356;
  width: 44px;
  height: 44px;
  text-align: center;
  border-radius: 50%;
  margin-right: 4px;
  margin-bottom: 4px;
  border: 0px solid rgba(255, 255, 255, 0.1);
  color: #58bfff;
}

html body #article-info {
  margin: 10px 2px 0px 2px;
  padding: 15px 10px 10px 10px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border: 0px solid rgba(122, 222, 255, 0.8);
  border-bottom: 1px solid #32373c;
  width: calc(100% - 4px);
  height: 75px;
  background: #3c3f42;
}

html body #article-info h2 {
  float: left;
  padding-left: 55px;
  color: #f5f5f5;
}

html body #article-info h2 span {
  color: #58bfff !important;
}

html body #article-info img.article-profile-img {
  position: absolute;
  left: 10px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
}

html body #article-content-wrapper {
  width: calc(100% - 4px);
  margin: 0px 2px;
}

html body #article-content-wrapper > .header {
  background: none;
  border-top: none !important;
  border-bottom: 2px dashed #5a5d60;
}

html body #article-reply-area {
  margin: 4px 2px 20px 2px;
  width: calc(100% - 4px);
  background: #32373c;
  border-radius: 0px;
  border: 0px solid rgba(122, 222, 255, 0.8);
}

html body #article-reply-area .header {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background: -webkit-linear-gradient(top left, #79ccff, #58bfff);
}

html body #article-reply-area .header h5,
html body #article-reply-area .header a {
  color: #fff;
}

html body #article-reply-area #reply-real-area {
  border-bottom: 0px solid rgba(122, 222, 255, 0.8);
  border-top: 0px solid rgba(122, 222, 255, 0.8);
  background: #2f3234;
  padding: 4px 4px;
}

html body #article-reply-area #reply-real-area .reply {
  background: #46494c;
  border: 0px solid rgba(122, 222, 255, 0.8);
  border-radius: 25px;
  border-bottom-left-radius: 0px;
  margin-bottom: 4px;
}

html body #article-reply-area #reply-real-area .reply div.reply-header {
  background: none;
  padding: 6px 14px 4px 8px;
  border-bottom: 2px dashed #5a5d60;
}

html body #article-reply-area #reply-real-area .reply div.reply-header .reply-writer.logged {
  color: #58bfff;
}

html body #article-reply-area #reply-real-area .reply div.reply-header .reply-menu .time {
  color: #ccc;
}

html body #article-reply-area #reply-real-area .reply div.reply-content {
  color: #f5f5f5;
  background: none;
  padding: 8px 8px 8px 14px;
}

html body #article-reply-area .btn-primary {
  border: 0;
  padding: 7px 12px;
  font-size: 15px;
  background: -webkit-linear-gradient(top left, #79ccff, #3da1ff);
  transition-duration: 0s;
}

html body #article-reply-area .btn-primary:hover {
  background: #3da1ff;
}

html body #article-list {
  margin-top: 4px;
}

html body #article-list #article-list-category {
  background: -webkit-linear-gradient(top right, #79ccff, #3da1ff);
  padding: 4px;
}

html body #article-list #article-list-category a {
  background: none;
  border-radius: 18px;
  transition: 0.2s ease 0s;
  color: #fff !important;
}

html body #article-list #article-list-category a:hover {
  background: rgba(255, 255, 255, 0.2);
}

html body #article-list #article-list-category a.active {
  background: rgba(255, 255, 255, 0.33);
}

html body #article-list > .article-list-row {
  background: -webkit-linear-gradient(top left, #46494c, #3c3f42);
  border: 0px !important;
  margin: 3px 4px;
  width: calc(100% - 8px);
  border-radius: 16px;
  border-bottom-left-radius: 0px;
}

html body #article-list > .article-list-row > .item > .list-header {
  border-bottom: none;
}

html body #article-list > .article-list-row > .item > .list-header span {
  background: #58bfff;
}

html body #article-list > .article-list-row > .item > .list-header strong {
  background: #e03131;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 2px 5px;
}

html body #article-list > .article-list-row > .item > .list-header b {
  background: #e03131;
}

html body #article-list > .article-list-row > .item > .list-header.v0 span {
  background: #5a5d60;
}

html body #article-list > .article-list-row > .item > .list-header.v15 b {
  background: none;
  color: #ffa200;
}

html body #article-list > .article-list-row > .item > a.list-title {
  color: #f5f5f5;
  border-bottom: none;
}

html body #article-list > .article-list-row > .item > a.list-title > .list-writer {
  display: block;
}

html body #article-list > .article-list-row > .item > a.list-title small.comment-count {
  color: #58bfff;
}

html body #article-list > .article-list-row > .item > .list-time {
  border-bottom: none;
}

html body #article-list > .article-list-row > .item span.category {
  color: #666 !important;
}

html body #article-list > .article-list-row :hover {
  background-color: #46494c;
}

html body #article-list > .article-list-row :hover > .item > .list-header.v0 > span {
  color: #5a5d60;
}

html body #article-list > .article-list-row.notice {
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 4px;
  width: calc(100% - 8px);
  border: none;
  border-left: 3px solid #e03131;
  border-bottom: 0px solid rgba(122, 222, 255, 0.8);
  background-color: #3c3f42;
}

html body #article-list > .article-list-row.notice > .item {
  padding: 6px 0px;
}

html body #article-list > .article-list-row.notice > .item > a.list-title > .list-writer {
  display: none;
}

html body #article-list > .article-list-row.notice > .item > a.list-title span.title-value {
  color: #f5f5f5;
}

html body #article-list > .article-list-row.hot {
  background: rgba(255, 255, 255, 0.1);
}

html body #article-list > .article-list-row.hot:hover {
  background: rgba(255, 255, 255, 0.2);
}

html body #article-list .pagination-area,
html body #article-list #article-list-menu,
html body #article-list #boardSearchForm {
  background: #3c3f42;
}

html body #article-list > .article-list-row > .item > a.list-title > .list-writer.logged > span {
  color: #58bfff;
}

nav#nav {
  background: rgba(20, 23, 26, 0.95);
  color: #f5f5f5;
}

nav#nav > .nav-header {
  background: -webkit-linear-gradient(top left, #79ccff, #3da1ff);
}

nav#nav > .nav-menu-area a {
  color: #eee;
}

nav#nav > .nav-menu-area hr {
  border-top: none;
  border-bottom: 1px solid #3c3f42;
}

nav#nav > #nav-schedule-list > a.schedule-link {
  border-bottom: 1px solid #3c3f42;
}

nav#nav > #nav-schedule-list > a.schedule-link > .time {
  color: #aaa;
}

nav#nav > #nav-schedule-list > a.schedule-link > .title {
  color: #f5f5f5;
}

nav#nav > a.schedule-more {
  color: #79ccff;
}

nav#nav > #nav-upper #noteDropdownContainer a,
nav#nav > #nav-upper #userDropdownContainer a,
nav#nav > #nav-upper-shortcut > .dropdown > a {
  color: #eee;
}
