@charset "UTF-8";
html {
  background: #f1f3f5;
  transition: 0.3s ease 1s;
  height: auto !important;
}

body {
  letter-spacing: -0.05em !important;
  background: transparent;
  font-family: "Nanum Gothic", sans-serif;
}

body button,
body input,
body textarea {
  outline: none;
}

button,
a.btn {
  transition: 0.2s ease 0s;
}

/* 전체 쉐도우 */
/*
header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame {
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
}
*/
header {
  padding-bottom: 0px;
}

header .row > div:nth-child(1) > a {
  background: url(https://upload.tgd.kr/20180911/717561690381d66be6c0704caa9863bb.png) no-repeat;
  display: block;
  height: 50px;
}

header .row > div:nth-child(1) > a img {
  display: none;
}

header #right-search-form #right-search-btn {
  color: #ffc019;
}

header #right-search-form > input[type="text"] {
  color: #fab005;
  border: none;
  border-bottom: 2px solid #fab005;
  padding-left: 15px;
  background: none;
}

header #right-search-form > input[type="text"]::placeholder {
  color: #ffc019;
}

header #header-bar {
  margin-bottom: 0px;
}

header #header-bar > .row {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  border-bottom-right-radius: 0px;
  background: -webkit-linear-gradient(top right, #ffc019, #fab005);
}

header #header-bar a.dropdown-toggle {
  color: #fff;
}

header #header-bar #header-top-notice strong.notice-badge {
  background: #fab005;
}

header #header-bar .fa {
  color: #fff;
}

#main #main-menu {
  margin-top: 16px;
}

#main #main-menu .menu-wrapper > .header {
  background: -webkit-linear-gradient(top right, #ffc019, #fab005);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#main #main-menu .menu-wrapper a:nth-last-child(1) {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#main #main-menu .menu-wrapper div.spacer {
  background: #fff;
  border-top: 2px dashed #ffdcd2;
  height: 0px;
}

#main #main-menu .menu-wrapper a.shortcut-link,
#main #main-menu .menu-wrapper a.useful-links,
#main #main-menu .menu-wrapper a.game {
  transition: 0.15s ease 0s;
}

#main #main-menu .menu-wrapper a.shortcut-link:hover,
#main #main-menu .menu-wrapper a.useful-links:hover,
#main #main-menu .menu-wrapper a.game:hover {
  background: #f5f5f5;
}

#main #main-content > div.frame {
  background: none;
}

#main #main-content > div.frame div#board-info {
  height: auto;
  margin-bottom: 0px;
  padding-top: 25px;
  background: -webkit-linear-gradient(top, #dee2e6 0%, #fff 10px);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid #dee2e6;
}

#main #main-content > div.frame div#board-info > img,
#main #main-content > div.frame div#board-info > h1,
#main #main-content > div.frame div#board-info > #board-info-bottom {
  float: left !important;
}

#main #main-content > div.frame div#board-info > img#board-info-profile-img {
  width: 74px;
  margin-right: 20px;
  border-radius: 40%;
  border: 1px solid #dee2e6;
}

#main #main-content > div.frame div#board-info > h1 {
  width: calc(100% - 110px);
}

#main #main-content > div.frame div#board-info > h1 > a {
  font-size: 30px;
  transition: 0.2s ease 0s;
}

#main #main-content > div.frame div#board-info > h1 > a:hover {
  color: #fab005;
}

#main #main-content > div.frame div#board-info > h1 a.badge-live {
  font-size: 12px;
}

#main #main-content > div.frame div#board-info > #board-info-bottom {
  margin-top: 6px;
  width: calc(100% - 110px);
  color: #fab005;
}

#main #main-content > div.frame div#article-info {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #dee2e6;
  border-bottom: none;
  background: #fafafa;
  padding: 20px 10px 10px 10px;
  margin-top: 10px;
}

#main #main-content > div.frame div#article-info .article-profile-img {
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#main #main-content > div.frame div#article-info h2,
#main #main-content > div.frame div#article-info #article-info-writer {
  padding-left: 80px;
}

#main #main-content > div.frame div#article-content-wrapper {
  padding: 0px;
  background: #fff;
  border: 1px solid #dee2e6;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#main #main-content > div.frame div#article-content-wrapper div.header {
  background: none;
  color: #999;
  border-top: 2px dashed #eee;
}

#main #main-content > div.frame div#article-content-wrapper div#article-content {
  padding: 20px 10px;
}

#main #main-content > div.frame div#article-content-wrapper div.footer {
  background: #fafafa;
  padding: 10px 15px;
  border-top: 2px dashed #eee;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#main #main-content > div.frame div#article-reply-area {
  border: 1px solid #dee2e6;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: 10px;
  padding-bottom: 10px;
  background: #fff;
}

#main #main-content > div.frame div#article-reply-area div.header {
  background: -webkit-linear-gradient(top right, #ffc019, #fab005);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#main #main-content > div.frame div#article-reply-area div.header h5 {
  color: #fff;
}

#main #main-content > div.frame div#article-reply-area .btn-primary {
  border: 0;
  padding: 7px 12px;
  font-size: 15px;
}

#main #main-content > div.frame div#article-reply-area #reply-real-area {
  background: #f5f5f5;
  padding: 10px 10px;
}

#main #main-content > div.frame div#article-reply-area #reply-real-area .reply {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 25px;
  border-bottom-left-radius: 0px;
}

#main #main-content > div.frame div#article-reply-area #reply-real-area .reply div.reply-header {
  background: none;
  padding: 10px 20px 5px 10px;
  border-bottom: 2px dashed #f5f5f5;
}

#main #main-content > div.frame div#article-reply-area #reply-real-area .reply div.reply-header .reply-writer.logged {
  color: #fab005;
}

#main #main-content > div.frame div#article-reply-area #reply-real-area .reply div.reply-content {
  background: none;
  padding: 10px 10px 20px 15px;
}

#main #main-content > div.frame div#article-reply-area ~ div {
  background: #fff;
  border-bottom-left-radius: 20px;
  margin-bottom: 20px;
}

#main #main-content > div.frame div#article-reply-area ~ div div div {
  margin: 0px !important;
  border-top: 0px !important;
}

div#article-list {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #dee2e6;
  padding: 0px;
}

div#article-list #article-option-area {
  top: 3px;
  right: 3px;
}

div#article-list #article-option-area > #article-option-area-toggle-btn {
  border-radius: 18px;
  background: rgba(245, 245, 245, 0.9);
}

div#article-list div#article-list-category {
  border: 1px solid #ffc019;
  background: -webkit-linear-gradient(top right, #ffc019, #fab005);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

div#article-list div#article-list-category > a {
  background: none !important;
  color: #fff !important;
  padding: 13px 16px;
  font-size: 13px;
  transition: 0.2s ease 0s;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

div#article-list div#article-list-category > a:hover {
  background: rgba(255, 255, 255, 0.25) !important;
}

div#article-list div.article-list-row {
  width: calc(100%);
  border: none;
  border-bottom: 1px solid #dee2e6;
  background: #fdfdfd;
  transition: 0.2s ease 0s;
  padding: 2px 0px 2px 0px;
}

div#article-list div.article-list-row div.item div.list-header {
  border: none;
}

div#article-list div.article-list-row div.item div.list-category {
  width: 80px;
}

div#article-list div.article-list-row .v0 span {
  background: #ccc !important;
}

div#article-list div.article-list-row > div.item > .list-title {
  border-bottom: 0px;
}

div#article-list div.article-list-row > div.item > .list-title > a:visited {
  color: #999 !important;
}

div#article-list div.article-list-row > div.item > .list-time {
  border-bottom: 0px;
}

div#article-list div.article-list-row:hover {
  background: rgba(253, 237, 179, 0.25);
}

div#article-list div.article-list-row.notice {
  border-bottom: 1px solid rgba(247, 75, 72, 0.1);
  background: rgba(247, 75, 72, 0.05);
}

div#article-list div.article-list-row.notice:hover {
  background: rgba(247, 75, 72, 0.1);
}

div#article-list div.article-list-row.hot {
  background: rgba(255, 255, 255, 0.1);
}

div#article-list div.article-list-row.hot:hover {
  background: rgba(253, 237, 179, 0.5);
}

div#article-list #article-list-menu > .btn.best {
  border-radius: 15px;
  background: #ffc019;
  color: #fff;
}

div#article-list #article-list-menu > .btn.write {
  border-radius: 15px;
  background: #fab005;
  color: #fff;
}

div#article-list #article-list-menu .pagination > li > a {
  color: #fab005;
  border-radius: 50%;
  margin-left: 5px;
}

div#article-list #article-list-menu .pagination > li > a:hover {
  transition: 0.3s ease 0s;
  background: #f5f5f5;
}

div#article-list #article-list-menu .pagination > li.active > a {
  color: #fff;
  font-weight: bold;
  background-color: #fab005;
}

div#article-list form.input-group input[type="text"] {
  padding: 6px;
  height: 34px !important;
  border: 1px solid #ccc;
  border-left: 0px;
  border-right: 0px;
}

div#article-list form.input-group .input-group-btn button {
  border: 1px solid #ccc;
}

div#article-list form.input-group .input-group-btn button:hover {
  transition: 0.3s ease 0s;
}

div#article-list form.input-group .input-group-btn button.btn.square.btn-default.dropdown-toggle {
  padding-left: 15px;
  padding-right: 10px;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

div#article-list form.input-group .input-group-btn button.btn.square.btn-default {
  padding-left: 10px;
  padding-right: 15px;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}

.btn.square {
  font-size: 14px;
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  color: white;
}

.fa-square:before {
  color: #ffcd69;
}

header #header-bar > .row,
#main .menu-wrapper,
#main #main-content > div.frame {
  border-right: none;
  border-bottom: none;
}

#main .menu-wrapper {
  border: none;
}

header #header-bar > .row,
#main .menu-wrapper,
#main #main-content > div.frame {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

/* 스트리머 게시판 상단 정보 글씨색상 */
#board-info #board-info-bottom a {
  color: #fab005;
}

/* 좌측메뉴 숏컷링크 글씨 색상 */
#main .menu-wrapper > a > em {
  color: #fab005;
}

/* 좌측메뉴 메뉴사이의 공간 색상 */
#main .menu-wrapper .spacer {
  background: #d1b6e1;
  height: 0.15em;
}

/* 게시글 관련부분 */
#article-list > .article-list-row > .item > .list-title > .list-writer > span {
  width: 120px !important;
}

#article-list #article-list-category {
  border-top: 2px solid #fab005;
  background: white;
}

#article-list #article-list-category > a {
  background: white;
}

#article-list > .article-list-row > .item > .list-header > span {
  background-color: #fab005;
}

#article-list > .article-list-row > .item > .list-title > small.comment-count {
  color: #fab005;
}

#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span {
  color: #fab005;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #fab005;
  border-color: #ffc019;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #ffc019;
}

.pagination > li > a,
.pagination > li > span {
  color: #ffc019;
}

#article-content-wrapper > .header {
  border-top: 2px solid #ffc019;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged {
  color: #ffc019;
}

#article-info > h2 {
  font-weight: bold;
}

#article-info > h2 > span.category {
  color: #fab005 !important;
}

#main .menu-wrapper > a {
  padding: 0.5em 1.4em 0.5em 0.7em !important;
}

a {
  color: #fab005;
}

span.a-badge i.fa.fa-info-circle {
  color: #fab005;
}

/* footer */
#article-list > .article-list-row {
  border-right: none;
}

#article-list #article-list-menu {
  box-sizing: border-box;
  width: unset;
  margin: 20px;
}

#article-list #boardSearchForm {
  padding-bottom: 20px;
  height: unset;
}

.btn-primary {
  background: #fab005 !important;
}
