$color-main: #ffc019;
$color-main-deep: #fab005;
$color-main-border: #dee2e6;

$body-background: #f1f3f5;
$mobile-bg: #e9ecef;

$radius: 8px;

$trans-time: 0.2s ease 0s;

$default-border: 1px solid;

$main-bg: -webkit-linear-gradient(top right, $color-main, $color-main-deep);
