/* make by k22pr*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html {
  background: linear-gradient(to bottom, #ffd2c5, #ffdcd2);
  transition: 0.3s ease 1s;
  height: auto !important;
}

body {
  letter-spacing: -0.05em !important;
  background: transparent;
  font-family: "Nanum Gothic", sans-serif;
}

button,
a.btn {
  transition: 0.2s ease 0s;
}

/* 전체 쉐도우 */
/*
header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame {
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
}
*/
header #right-search-form > input[type="text"] {
  color: #ff8978;
  border: 1px solid #ff8978;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 15px;
}

#main .menu-wrapper {
  border-bottom-left-radius: 15px;
}

#main .menu-wrapper > .header {
  border-top-right-radius: 15px;
  background: #ff8978;
}

#main .menu-wrapper a:nth-last-child(1) {
  border-bottom-left-radius: 15px;
}

#main .menu-wrapper div.spacer {
  background: #fff;
  border-top: 2px dashed #ffdcd2;
  height: 0px;
}

#main .menu-wrapper a.shortcut-link,
#main .menu-wrapper a.useful-links,
#main .menu-wrapper a.game {
  transition: 0.15s ease 0s;
}

#main .menu-wrapper a.shortcut-link:hover,
#main .menu-wrapper a.useful-links:hover,
#main .menu-wrapper a.game:hover {
  background: #f5f5f5;
}

#main #main-content > div.frame {
  background: none;
}

#main #main-content > div.frame div#article-info {
  border-top-right-radius: 20px;
  background: #fafafa;
  padding: 20px 10px 10px 10px;
  margin-top: 10px;
}

#main #main-content > div.frame div#article-info .article-profile-img {
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#main #main-content > div.frame div#article-info h2,
#main #main-content > div.frame div#article-info #article-info-writer {
  padding-left: 80px;
}

#main #main-content > div.frame div#article-content-wrapper {
  padding: 0px;
  background: #fff;
  border-bottom-left-radius: 20px;
}

#main #main-content > div.frame div#article-content-wrapper div.header {
  background: none;
  color: #999;
  border-top: 2px dashed #eee;
}

#main
  #main-content
  > div.frame
  div#article-content-wrapper
  div#article-content {
  padding: 20px 10px;
}

#main #main-content > div.frame div#article-content-wrapper div.footer {
  background: #fafafa;
  padding: 10px 15px;
  border-top: 2px dashed #eee;
  border-bottom-left-radius: 20px;
}

#main #main-content > div.frame div#article-reply-area {
  border-top-right-radius: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
  background: #fff;
}

#main #main-content > div.frame div#article-reply-area .btn-primary {
  border: 0;
  padding: 7px 12px;
  font-size: 15px;
}

#main #main-content > div.frame div#article-reply-area #reply-real-area {
  background: #f5f5f5;
  padding: 10px 10px;
}

#main #main-content > div.frame div#article-reply-area #reply-real-area .reply {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 25px;
  border-bottom-left-radius: 0px;
}

#main
  #main-content
  > div.frame
  div#article-reply-area
  #reply-real-area
  .reply
  div.reply-header {
  background: none;
  padding: 10px 20px 5px 10px;
  border-bottom: 2px dashed #f5f5f5;
}

#main
  #main-content
  > div.frame
  div#article-reply-area
  #reply-real-area
  .reply
  div.reply-header
  .reply-writer.logged {
  color: #ff8978;
}

#main
  #main-content
  > div.frame
  div#article-reply-area
  #reply-real-area
  .reply
  div.reply-content {
  background: none;
  padding: 10px 10px 20px 15px;
}

#main #main-content > div.frame div#article-reply-area ~ div {
  background: #fff;
  border-bottom-left-radius: 20px;
  margin-bottom: 20px;
}

#main #main-content > div.frame div#article-reply-area ~ div div div {
  margin: 0px !important;
  border-top: 0px !important;
}

div#board-info {
  height: auto;
  margin-bottom: 10px;
  background: #fff;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

div#board-info > img,
div#board-info > h1,
div#board-info > #board-info-bottom {
  float: left !important;
}

div#board-info > img#board-info-profile-img {
  animation: ProfileImageRotate 1s ease 1s;
  animation-fill-mode: both;
  transform: rotate(15deg);
  width: 90px;
  margin-right: 20px;
  border-radius: 50%;
  border: 2px dashed rgba(252, 177, 154, 0.7);
}

div#board-info > h1 {
  width: calc(100% - 110px);
}

div#board-info > h1 > a {
  font-size: 30px;
  transition: 0.2s ease 0s;
}

div#board-info > h1 > a:hover {
  color: #ff8978;
}

div#board-info > #board-info-bottom {
  margin-top: 10px;
  width: calc(100% - 110px);
  color: #ff8978;
}

div#article-list {
  background: #fff;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 0px;
}

div#article-list div#article-list-category {
  border: none;
  padding: 5px;
  background: none;
}

div#article-list div.article-list-row {
  width: calc(100% - 10px);
  border: 0px none;
  background: #fdfdfd;
  margin: 4px 5px 0px 5px;
  border-radius: 15px;
  border: 1px solid #eee;
  transition: 0.15s ease 0s;
}

div#article-list div.article-list-row div.item div.list-header {
  border: none;
}

div#article-list div.article-list-row .v0 span {
  background: #ccc !important;
}

div#article-list div.article-list-row > div.item > .list-title {
  border-bottom: 0px;
}

div#article-list div.article-list-row > div.item > .list-title > a:visited {
  color: #999 !important;
}

div#article-list div.article-list-row > div.item > .list-time {
  border-bottom: 0px;
}

div#article-list div.article-list-row:hover {
  background: rgba(253, 237, 179, 0.33);
}

div#article-list div.article-list-row.notice {
  border: 1px solid rgba(247, 75, 72, 0.1);
  background: rgba(247, 75, 72, 0.05);
}

div#article-list div.article-list-row.notice:hover {
  background: rgba(247, 75, 72, 0.1);
}

div#article-list #article-list-menu > .btn.best {
  border-radius: 15px;
  background: #fcb19a;
  color: #fff;
}

div#article-list #article-list-menu > .btn.write {
  border-radius: 15px;
  background: #ff8978;
  color: #fff;
}

div#article-list #article-list-menu .pagination > li > a {
  color: #ff8978;
  border-radius: 50%;
  margin-left: 5px;
}

div#article-list #article-list-menu .pagination > li > a:hover {
  transition: 0.3s ease 0s;
  background: #fafafa;
}

div#article-list #article-list-menu .pagination > li.active > a {
  color: #fff;
  font-weight: bold;
}

div#article-list form.input-group input[type="text"] {
  padding: 6px;
  height: 34px !important;
  border: 1px solid #ccc;
  border-left: 0px;
  border-right: 0px;
}

div#article-list form.input-group .input-group-btn button {
  border: 1px solid #ccc;
}

div#article-list form.input-group .input-group-btn button:hover {
  transition: 0.3s ease 0s;
}

div#article-list
  form.input-group
  .input-group-btn
  button.btn.square.btn-default.dropdown-toggle {
  padding-left: 15px;
  padding-right: 10px;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

div#article-list
  form.input-group
  .input-group-btn
  button.btn.square.btn-default {
  padding-left: 10px;
  padding-right: 15px;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}

.btn.square {
  font-size: 14px;
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  color: white;
}

.fa-square:before {
  color: #ffcd69;
}

header #header-bar > .row,
#main .menu-wrapper,
#main #main-content > div.frame {
  border-right: none;
  border-bottom: none;
}

#main .menu-wrapper {
  border: none;
}

header #header-bar > .row,
#main .menu-wrapper,
#main #main-content > div.frame {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

/* 로고밑 NAV bar */
header #header-bar > .row {
  border: 0px;
  border-radius: 5px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 6px;
}

header #header-bar > .row button {
  color: #ffdcd2;
}

/* 헤더 배너 */
header .row > div:nth-child(1) > a {
  display: block;
  width: 145px;
  height: 50px;
  background: url(https://upload.tgd.kr/20180816/68489f5aaaf3ec668ae99960e0b99edb.png)
    no-repeat;
  background-size: auto 50px;
}

header .row > div:nth-child(1) > a > img {
  display: none;
  filter: grayscale(100%);
  opacity: 0.8;
}

/* 헤더 검색 버튼 */
header #right-search-form > #right-search-btn {
  color: #ffd2c5;
}

/* 헤더 [광고]배경색 */
header #header-bar #header-top-notice strong.notice-badge {
  background: #ff8978;
}

/* fa색상 */
header #header-bar .fa {
  color: #ff8978;
}

/* 스트리머 게시판 상단 정보 글씨색상 */
#board-info #board-info-bottom a {
  color: #ff8978;
}

/* 좌측메뉴 숏컷링크 글씨 색상 */
#main .menu-wrapper > a > em {
  color: #ff8978;
}

/* 좌측메뉴 메뉴사이의 공간 색상 */
#main .menu-wrapper .spacer {
  background: #d1b6e1;
  height: 0.15em;
}

/* 게시글 관련부분 */
#article-list > .article-list-row > .item > .list-title > .list-writer > span {
  width: 120px !important;
}

#article-list #article-list-category {
  border-top: 2px solid #ff8978;
  background: white;
}

#article-list #article-list-category > a {
  background: white;
}

#article-list > .article-list-row > .item > .list-header > span {
  background-color: #ff8978;
}

#article-list > .article-list-row > .item > .list-title > small.comment-count {
  color: #ff8978;
}

#article-list
  > .article-list-row
  > .item
  > .list-title
  > .list-writer.logged
  > span {
  color: #ff8978;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #ff8978;
  border-color: #ffd2c5;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #ffd2c5;
}

.pagination > li > a,
.pagination > li > span {
  color: #ffd2c5;
}

#article-content-wrapper > .header {
  border-top: 2px solid #ffd2c5;
}

#article-reply-area
  #reply-real-area
  .reply
  > .reply-header
  > .reply-writer.logged,
#article-reply-area
  #reply-best-area
  .reply
  > .reply-header
  > .reply-writer.logged {
  color: #ffd2c5;
}

#article-info > h2 {
  font-weight: bold;
}

#article-info > h2 > span.category {
  color: #ff8978 !important;
}

#article-reply-area > .header h5 {
  color: #ff8978;
}

#main .menu-wrapper > a {
  padding: 0.5em 1.4em 0.5em 0.7em !important;
}

a {
  color: #ff8978;
}

span.a-badge i.fa.fa-info-circle {
  color: #ff8978;
}

/* footer */
#article-list > .article-list-row {
  border-right: none;
}

#article-list #article-list-menu {
  box-sizing: border-box;
  width: unset;
  margin: 20px;
}

#article-list #boardSearchForm {
  padding-bottom: 20px;
  height: unset;
}

.btn-primary {
  background: #ff8978 !important;
}

@keyframes ProfileImageRotate {
  0% {
    transform: rotate(15deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
